body {
    background: linear-gradient(to bottom, #00ffff, #ff00ff);
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 20px;
    text-align: center;
}

.card {
    width: 14rem;
    height: 27rem;
    margin-bottom: 0%;
    background-color: lavenderblush;
    
    
}

footer {
    padding: 1rem;
    clear: both;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
    color: black;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: rgb(84, 84, 124);
    box-sizing: border-box;
    z-index: 999;
}

.container-right {
    float: right;
}