.card {
    width: 18rem;
    height: 27rem;
    margin-bottom: 0%;
}

footer {
    padding: 1rem;
    clear: both;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
    color: black;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: rgb(84, 84, 124);
    box-sizing: border-box;
    z-index: 999;
}