body {
    background: linear-gradient(to bottom, #74fcec, #1b444a);
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 20px;
    text-align: center;
}

.parent-card {
    width: 14rem;
    height: 24rem;
    margin-bottom: 0%;
    background-color: rgb(15, 67, 71);
    color: bisque;  
}
.sub-card {
    width: 14rem;
    height: 19rem;
    margin-bottom: 0%;
    background-color: rgb(15, 67, 71);
    color: bisque;  
}



.emoji{
    font-size: 3em;
}



footer {
    padding: 1rem;
    clear: both;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
    color: black;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: rgb(84, 84, 124);
    box-sizing: border-box;
    z-index: 999;
}

